section.section.fiberglass
	.fiberglass__bg_element
	.fiberglass__blur_el
	.site-container
		.fiberglass__text_wrap
			.fiberglass__title
				h2
					strong
						| Изделия из стеклопластика
					br
					| 	под заказ -
					span
						| 	от 14 дней
			.fiberglass__text
				p
					| Производим композитные материалы по ТЗ заказчика с гарантией 30 лет
		.fiberglass__info
			.fiberglass__img
				+picture("img/fiberglass_img.png", "Изделия из стеклопластика")

			p
				strong
					| Разрабатываем высокопрочные изделия для различного назначения.
				| 	Создаем долговечную замену металлу с индивидуальными параметрами
				| в рамках вашего бюджета.
			p
				strong
					| Наши изделия и сырье повышают качество готовых объектов
				|  и при этом снижают себестоимость проектов.
			p
				strong
					| Сферы применения: промышленное и гражданское строительство
				|  электроэнергетика, а также автомобильная, железнодорожная и аэрокосмическая отрасли.

			button.button-reset.btn.fiberglass__button
				span
					| Подробнее

