section.section.feautures
	.feautures__img.feautures__img-left
		+pictureLazy("img/feautures_img_left.png", "Композитный материал - сетка")
	.feautures__img.feautures__img-right
		+pictureLazy("img/feautures_img_right.png", "Композитный материал - прутья")

	.feautures__img.feautures__img-bottom
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 195" id="lines">
		<defs>
			<clipPath id="clip-path">
			<rect id="Прямоугольник_11" data-name="Прямоугольник 11" width="1920" height="195" transform="translate(0 2614)" fill="#fff" stroke="#707070" stroke-width="1"/>
			</clipPath>
		</defs>
		<g id="lines" transform="translate(0 -2614)" clip-path="url(#clip-path)">
			<g id="Сгруппировать_8" data-name="Сгруппировать 8">
			<path id="Контур_4" data-name="Контур 4" d="M-266.141,2275.7l-1.718-1.024,70.4-118.116.794.32,87.8,35.346,35.969-35.6.613.253L101,2228.315l110.467-44.641,72.609-73.865.7.886,59.09,74.424-1.508.375-114.127,28.4,259.351,14.473,56.9-85.972.739.266L658.95,2183.6l.043.02,94.833,44.625,101.928-71.486.4.06,176.8,26.778.245.319,34.091,44.345,113.562-29.873,63.794-95.515.778.365,143.179,67.006.133.145,39.339,42.74,80.618-70.78.637.419,62.159,40.957.046.039,79.906,67.651-1.292,1.526-79.859-67.612-61.423-40.471-80.94,71.062-.662-.719-39.867-43.313-142.043-66.475-63.261,94.717-.367.1-115.213,30.308-.4-.527-34.251-44.553-175.612-26.6-102.222,71.692-95.841-45.1-112.892-40.641-56.668,85.619L221.512,2215.52l-.186-1.969,119.048-29.623-56.454-71.1-71.315,72.549-.193.078L101,2230.475l-.377-.156-173.047-71.336-34.412,34.055,88.008,35.429-.373,1.928H-147.432l37.022-36.638-86.205-34.7Zm123.573-47.3h118.2l-84.021-33.824Z" transform="translate(267 559)" fill="#ddd"/>
			<path id="Контур_5" data-name="Контур 5" d="M200.384,2243.041l-.482-.263L-41.924,2110.689l-102.612,74.461-.145.049-122,41.036-.638-1.9,121.855-40.987,103.388-75.024.555.3,241.9,132.129L386.707,2137.91l.217-.017,249.748-19.161.317.534,32.471,54.646,61.82-36.06.343.048,202.244,28.284.173.1,97.4,57.783L1173.9,2108.6l.2-.055,198.106-54.2.41.4,85.59,84.014-61.619,92.1,150.73-167.506.691,1.183L1651.262,2241.4l-1.727,1.009-102.561-175.677-158.231,175.841-1.575-1.225,68.456-102.321-84-82.45-196.795,53.844L1031.62,2226.5l-.6-.355-97.829-58.036-201.5-28.18-61.208,35.7L695.6,2217.9l-1.423.253-139.109,24.73-.679-1.848,113.346-66.116-32.146-54.1-248.294,19.049Zm468.37-66.4-108.5,63.292L692.4,2216.438Z" transform="translate(267 559)" fill="#ddd"/>
			</g>
		</g>
		</svg>

	.site-container
		.feautures__text_wrapp
			.feautures__text
				h3
					| Сертифицированное производство композитных материалов с 2010 года.

				.feautures__text_p_wrapper
					p
						| Контроль качества в собственной лаборатории.
						| 100+ квалифицированных сотрудников изготовляют 14 видов строительных композитных изделий
						| для 1 000 клиентов по РФ.
					p
						strong
							| Среди ключевых партнеров:
						br
						| «Лукойл», «Транснефть», «РЖД» и «Метрострой».
						| Поставляем продукцию по всей России и за рубеж
						| с полным пакетом документов.

		ul.feautures__list
			li.feautures__list_item
				h3
					| 14
				p
					| производственных
					br
					| линий
			li.feautures__list_item
				h3
					| 32 000 000
					span
						| п.м.
				p
					| композитной
					br
					|арматуры
			li.feautures__list_item
				h3
					| 5 000 000
					span
						| м
						sup
							| 2
				p
					| композитной
					br
					| сетки

		.feautures__button_wrap
			button.button-reset.feautures__button
				+icon("polygon_red")
				+icon("polygon_white")
				| Подробнее

			p.feautures__warning
				| Остерегайтесь подделок.
				br
				| У несертифицированных
				| производителей
				| может быть товар низкого качества


