section.section.get_price
	.site-container
		.get_price__row
			.get_price__img
				+picture("img/get_price_img.png", "Композитные материалы - раассчитать стоимость")
			.get_price__col
				.get_price__title
					h2
						| Получите
						strong
							| 	расчет стоимости
				.get_price__list
					ul
						li
							strong
								|	Расчет необходимого количества материалов
							|	для фундамента и железобетонных конструкций.
						li
							strong
								|	Перерасчет материалов
							|	из металла на композитную арматуру или сетку.
						li
							strong
								|	Доставка входит в стоимость
							|	при заказе – от 30 000 рублей.
			.get_price__col
				.get_price__form
					include ../../parts/form.pug
