// Typography
$main-font-family: "Montserrat", sans-serif;
$second-font-family: "Roboto", sans-serif;

// colors
$color-red: #B72D2D;
$color-red-darker: #9e2a2a;
$color-white: #FFF;
$color-grey: #F0F0F0;
$color-dark-blue--1:#1A272E;
$color-dark-blue--2:#21272B;
$color-dark-blue--3:#2B3C45;
$color-dark-blue--4:#0E191F;


$main-transition: .2s ease;

